html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline
}

body {
    line-height: 1;
    color: black;
    background: white
}

ol,ul {
    list-style: none
}

table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle
}

caption,th,td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q,blockquote {
    quotes: "" ""
}

q:before,q:after,blockquote:before,blockquote:after {
    content: ""
}

a img {
    border: none
}

html {
    padding: 2em 0 0 0;
    background: url(/images/background.png) repeat-x
}

body {
    font-family: "HelveticaNeue-Light",Helvetica,Arial,sans;
    margin: 0 auto;
    font-size: 12px;
    line-height: 21px;
    width: 955px;
    background: none
}

input,label,article,aside,footer,header,nav,section,dialog,figure,hgroup,menu {
    display: block
}

*:focus {
    outline: 0
}

em {
    font-family: "Helvetica Neue LT Std";
    font-size: 19px;
    color: #003a55;
    font-style: bold
}

h1#logo a {
    display: block;
    text-indent: -999em;
    background: url(/images/logo.png) no-repeat;
    height: 50px;
    width: 260px;
    margin: 0 auto;
    padding: 0 0 2em 0
}

h1 {
    color: #003954;
    font-size: 26px;
    line-height: 42px;
    font-weight: bold;
    font-style: italic;
    text-shadow: #8bafbc 0px -1px 2px
}

h2,h3 {
    color: #ffa800;
    font-weight: bold;
    padding: 0em 0 0.5em 0;
    font-size: 18px;
    font-family: "HelveticaNeue-Light",Helvetica,Arial,sans
}

h4 {
    color: #036;
    font-size: 16px;
    font-weight: bold
}

.nav#pagetabs {
    text-align: center;
    height: 31px;
    padding-left: 150px
}

.nav#pagetabs a {
    background: url(/images/buttons.png) no-repeat -163px 0px;
    font-weight: bold;
    text-decoration: none;
    width: 162px;
    height: 32px;
    display: block;
    line-height: 36px;
    float: left;
    text-align: center;
    color: #fff
}

.nav#pagetabs a:hover,.nav#pagetabs a.current {
    color: #ffa800;
    background-position: 0 0
}

#content {
    background: url(/images/content.png) no-repeat 0 32px
}

#pages {
    position: relative;
    overflow: hidden;
    clear: both;
    height: 1900px;
    width: 850px;
    margin: 0 auto
}

#pages div.page {
    float: left;
    display: block;
    width: 705px;
    margin: 40px 70px 0 70px;
    font-size: 14px
}

#pages .items {
    width: 20000em;
    position: absolute;
    clear: both;
    margin: 0;
    padding: 0
}

#pages .item {
    padding: 2em 0 0 5em;
    width: 800px
}

#pages .less,#pages .less a {
    color: #999;
    font-size: 11px
}

#slideshow {
    position: relative;
    height: 180px;
    width: 703px;
    float: left;
    cursor: pointer
}

#slideshow .show {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 180px;
    width: 703px;
    font-size: 12px
}

#slideshow .show p {
    color: #003954;
    font-size: 14px
}

.moreinfo {
    text-indent: -999em;
    float: right;
    margin-top: 150px;
    background: url(/images/moreinfo.png) no-repeat;
    display: block;
    height: 28px;
    width: 116px
}

.show {
    background: url(/images/banners.jpg) no-repeat
}

.show#e4d {
    background: url(/images/e4dbanner.png) no-repeat
}

.show#ceramic {
    background-position: -48px -250px
}

.show#implants {
    background-position: -48px -450px
}

.show#removeable {
    background-position: -48px -645px
}

.show#outsourcing {
    background-position: -48px -840px
}

.nav#slideshowmenu {
    clear: both;
    height: 33px;
    display: block;
    width: 705px;
    padding: 0 0 2em 0
}

.nav#slideshowmenu a {
    float: left;
    width: 20%;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 33px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background: url(/images/slideshow.png) repeat-x
}

.nav#slideshowmenu a:hover,.nav#slideshowmenu a.current {
    background: #003a55;
    color: #ff9200;
    background-position: 0 0
}

.categories h2,.categories h3,.categories ul {
    padding: 0em 0em;
    padding-top: 1em
}

.categories p {
    padding-top: 0.5em
}

ul#products_nav,ul#portfolio_nav {
    background: url(/images/slideshow.png) repeat-x;
    height: 48px
}

ul#products_nav li,ul#portfolio_nav li {
    display: inline
}

ul#products_nav li a,ul#portfolio_nav li a {
    float: left;
    width: 20%;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: gray;
    background-color: #fff
}

ul#products_nav li a:hover,ul#products_nav li a.current,ul#portfolio_nav li a:hover,ul#portfolio_nav li a.current {
    background: url(/images/slideshow.png) repeat-x;
    color: #fff;
    background-position: 0 0
}

#producttabs {
    position: relative;
    overflow: hidden;
    clear: both;
    height: 800px
}

#producttabs .category {
    float: left;
    display: block;
    width: 700px;
    font-size: 14px
}

#producttabs .categories {
    width: 20000em;
    position: absolute;
    clear: both;
    margin: 0;
    padding: 0
}

#producttabs .less,#producttabs .less a {
    color: #999;
    font-size: 11px
}

.comp {
    width: 700px;
    background: url(/images/arraw.jpg) no-repeat center
}

.nav#fullgold_nav {
    float: left;
    padding: 0 3em 0 0
}

.nav#fullgold_nav a {
    display: block;
    text-decoration: none;
    color: #ff9200;
    padding: 0.5em 2em;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9
}

.nav#fullgold_nav a:hover,.nav#fullgold_nav a .current {
    background: #d9d9d9;
    color: #787878
}

.portfolio-item {
    width: 700px;
    clear: both;
    padding-top: 3em
}

.portfolio-item .image {
    display: block;
    padding: 1em;
    width: 250px
}

.portfolio-item .image#one {
    background: url(/images/portfolio/1.jpg) no-repeat;
    height: 149px;
    float: left
}

.portfolio-item .image#two {
    background: url(/images/portfolio/2.jpg) no-repeat;
    height: 123px;
    float: right
}

.portfolio-item .image#three {
    background: url(/images/portfolio/3.jpg) no-repeat;
    height: 199px;
    float: left
}

.portfolio-item .image#four {
    background: url(/images/portfolio/4.jpg) no-repeat;
    height: 139px;
    float: right
}

.portfolio-item .image#five {
    background: url(/images/portfolio/5.jpg) no-repeat;
    height: 199px;
    float: left
}

.portfolio-item h4 {
    padding: 1em 0 0 0
}

.portfolio-item p {
    padding: 0.5em 0 0 0
}

.portfolio-item .title {
    background: url(/images/slideshow.png);
    height: 40px;
    margin-bottom: 0.5em
}

.portfolio-item .title span {
    background: #008ac0;
    color: #fff;
    text-align: center;
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-right: solid 3px #fff
}

.portfolio-item .balinks {
    background: #008ac0
}

.portfolio-item .balinks a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    padding: 0 1em;
    border-right: solid 1px #fff;
    border-left: solid 1px #fff
}

.portfolio-item .comparison {
    padding: 1em 0 0 2em;
    float: right
}

.vcard {
    border: 2px solid #eee;
    padding: 1em;
    margin-bottom: 2em;
    width: 350px;
    height: 120px;
    border-radius: 7px;
    text-align: right
}

.vcard img {
    float: left
}

.vcard .fn,.vcard .ln {
    font-size: 24px
}

.vcard .tel {
    color: #000;
    text-decoration: none;
    display: block
}

.vcard .position {
    font-size: 16px;
    color: #6d6d6d;
    display: block;
    padding-bottom: 1.5em
}

.bubble {
    background: url(/images/bubble.png) no-repeat;
    display: block;
    height: 194px;
    width: 285px;
    padding: 1em;
    color: #7a7a7a;
    font-size: 20px;
    line-height: 25px
}

.bubble em {
    line-height: 25px
}

.bubble .partner,.bubble .clock {
    float: left;
    height: 135px;
    display: block;
    width: 86px;
    margin-right: 1em
}

.bubble .partner {
    background: url(/images/partner.png) no-repeat
}

.bubble .clock {
    background: url(/images/clock.png) no-repeat
}

.left {
    float: left
}

.right {
    float: right
}

.e4dexperience {
    background: url(/images/e4dexperience.png) no-repeat center;
    width: 400px;
    height: 100px
}

.e4dmachine {
    margin-top: 2em;
    background: url(/images/e4d.png) no-repeat center;
    height: 450px;
    width: 300px
}

ul#e3d_nav {
    display: block
}

ul#e4d_nav li {
    float: left
}

ul#e4d_nav li a {
    display: block;
    line-height: 52px;
    height: 52px;
    width: 143px;
    background: url(/images/e4dbuttonsprite.jpg) no-repeat;
    text-align: center
}

ul#e4d_nav li a:hover {
    background-position: 0px -52px
}

ul#e4d_nav li a:active {
    background-position: 0px -102px
}

ul#e4d_nav li a.current {
    background-position: 0px -153px
}

#e4d_tabs {
    clear: both
}

#inner-content {
    position: relative;
    display: block;
}

.prev {
    position: absolute;
    top: 244px;
    left: 9px;
    border: none;
    background: none;
    width: 33px;
    height: 76px;
    cursor: pointer;
    display: block;
}

.next {
    position: absolute;
    top: 244px;
    right: 4px;
    border: none;
    background: none;
    width: 33px;
    height: 76px;
    cursor: pointer;
    display: block;
}

.next, .prev {
    color: gray;
}
.next:hover, .prev:hover {
    color: black;
}
.next:active, .prev:active {
    color: gray;
}
